@import url( https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700 );
body {
	padding: 50px; color: rgb(114, 114, 114); font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 400; background-color: rgb(255, 255, 255);
}
h1 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
h2 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
h3 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
h4 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
h5 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
h6 {
	margin: 0px 0px 20px; color: rgb(34, 34, 34);
}
p {
	margin: 0px;
}
ul {
	margin: 0px;
}
ol {
	margin: 0px;
}
table {
	margin: 0px;
}
pre {
	margin: 0px;
}
dl {
	margin: 0px;
}
h1 {
	line-height: 1.1;
}
h2 {
	line-height: 1.1;
}
h3 {
	line-height: 1.1;
}
h1 {
	font-size: 28px;
}
h2 {
	color: rgb(57, 57, 57);
}
h3 {
	color: rgb(73, 73, 73);
}
h4 {
	color: rgb(73, 73, 73);
}
h5 {
	color: rgb(73, 73, 73);
}
h6 {
	color: rgb(73, 73, 73);
}
a {
	color: rgb(51, 153, 204); text-decoration: none;
}
a:hover {
	color: rgb(0, 102, 153);
}
a small {
	color: rgb(119, 119, 119); font-size: 11px; margin-top: -0.3em; display: block;
}
a:hover small {
	color: rgb(119, 119, 119);
}
.wrapper {
	margin: 0px auto; width: 800px;
}
blockquote {
	margin: 0px; padding: 0px 0px 0px 20px; font-style: italic; border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid;
}
code {
	color: rgb(51, 51, 51); font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; font-size: 12px;
}
pre {
	color: rgb(51, 51, 51); font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; font-size: 12px;
}
pre {
	background: rgb(248, 248, 248); padding: 8px 15px; border-radius: 5px; border: 1px solid rgb(229, 229, 229); border-image: none; -ms-overflow-x: auto;
}
table {
	width: 100%; border-collapse: collapse;
}
th {
	padding: 5px 10px; text-align: left;
}
td {
	padding: 5px 10px; text-align: left;
}
dt {
	color: rgb(68, 68, 68); font-weight: 700;
}
th {
	color: rgb(68, 68, 68);
}
img {
	max-width: 100%;
}
header {
	width: 230px; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased;
}
header ul {
	background: rgb(244, 244, 244); list-style: none; padding: 0px; border-radius: 5px; border: 1px solid rgb(224, 224, 224); border-image: none; width: 270px; height: 40px;
}
header li {
	width: 89px; height: 40px; border-right-color: rgb(224, 224, 224); border-right-width: 1px; border-right-style: solid; float: left;
}
header li:first-child a {
	border-radius: 5px 0px 0px 5px;
}
header li:last-child a {
	border-radius: 0px 5px 5px 0px;
}
header ul a {
	height: 34px; text-align: center; color: rgb(153, 153, 153); line-height: 1; padding-top: 6px; font-size: 11px; display: block;
}
header ul a:hover {
	color: rgb(153, 153, 153);
}
header ul a:active {
	background-color: rgb(240, 240, 240);
}
strong {
	color: rgb(34, 34, 34); font-weight: 700;
}
header ul li + li + li {
	width: 89px; border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
header ul a strong {
	color: rgb(34, 34, 34); font-size: 14px; display: block;
}
section {
	width: 550px; padding-bottom: 5px; float: right;
}
small {
	font-size: 11px;
}
hr {
	background: rgb(229, 229, 229); margin: 0px 0px 20px; border: 0px currentColor; border-image: none; height: 1px;
}
footer {
	width: 270px; bottom: 50px; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased;
}
@media print, screen and (max-width:960px)
{
div.wrapper {
	margin: 0px; width: auto;
}
header {
	width: auto; float: none; position: static;
}
section {
	width: auto; float: none; position: static;
}
footer {
	width: auto; float: none; position: static;
}
header {
	padding-right: 320px;
}
section {
	border-width: 1px 0px; margin: 0px; padding: 0px 0px 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-style: solid;
}
section.outer {
	border-width: 1px 0px; margin: 0px; padding: 0px; border-top-color: rgb(229, 229, 229); border-top-style: solid;
}
header a small {
	display: inline;
}
header ul {
	top: 52px; right: 50px; position: absolute;
}
}
@media print, screen and (max-width:720px)
{
body {
	-ms-word-wrap: break-word;
}
header {
	padding: 0px;
}
header ul {
	position: static;
}
header p.view {
	position: static;
}
pre {
	-ms-word-wrap: normal;
}
code {
	-ms-word-wrap: normal;
}
}
@media print, screen and (max-width:480px)
{
body {
	padding: 15px;
}
header ul {
	width: 99%;
}
header li {
	width: 33%;
}
header ul li + li + li {
	width: 33%;
}
}
@media print
{
body {
	padding: 0.6in; color: rgb(68, 68, 68); font-size: 12pt;
}
}
@media print, screen
{
body {
	padding-bottom: 1.2in;
}
}
div.title a:link {
	color: rgb(0, 0, 0);
}
div.title a:visited {
	color: rgb(0, 0, 0);
}
h1 {
	font-weight: 600;
}
h2 {
	font-weight: 600;
}
h3 {
	font-weight: 600;
}
h4 {
	font-weight: 600;
}
h5 {
	font-weight: 600;
}
h6 {
	font-weight: 600;
}
div.title {
	font-weight: 600;
}
div.ftheader {
	font-weight: 600;
}
span.venue {
	font-weight: 600;
}
span.highlight {
	font-weight: 600;
}
h4 {
	font-size: 100%;
}
div.title {
	font-size: 100%;
}
div.ftsubheader {
	font-size: 100%;
}
div.authors a:link {
	color: rgb(119, 119, 119);
}
div.authors a:visited {
	color: rgb(119, 119, 119);
}
div.authors {
	color: rgb(119, 119, 119); font-size: 100%;
}
span.author {
	white-space: nowrap;
}
span.me {
	color: rgb(0, 0, 0); font-weight: 600;
}
span.highlight {
	color: rgb(187, 34, 34);
}
span.highlight a:link {
	color: rgb(187, 34, 34);
}
span.highlight a:visited {
	color: rgb(187, 34, 34);
}
span.tag {
	color: rgb(0, 85, 170);
}
span.tag a:link {
	color: rgb(0, 85, 170);
}
span.tag a:visited {
	color: rgb(0, 85, 170);
}
a:link {
	color: rgb(0, 85, 170);
}
a:visited {
	color: rgb(0, 85, 170);
}
section.pub {
	padding-bottom: 25px;
}
