.cv_right {
	margin-left: 42px; position: absolute;
}
.image.avatar {
	border-radius: 100%; overflow: hidden;
}
.image.avatar img {
	border-radius: 100%; width: 60%; display: block;
}
h1 {
	font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	line-height: 1; padding-top: 0.5em; padding-bottom: 0.2em; margin-top: 0.7em; margin-bottom: 0.3em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
h3 {
	line-height: 1; padding-top: 0.5em; padding-bottom: 0.2em; margin-top: 0.7em; margin-bottom: 0.3em; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
h1 {
	font-size: 250%;
}
h2 {
	padding-top: 0.8em; font-size: 160%;
}
h2 + h3 {
	padding-top: 0.2em;
}
h3 {
	font-size: 110%; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#footer {
	padding: 2em 0px 1em; color: rgb(192, 192, 192); overflow: hidden; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
#footer .copyright {
	list-style: none; padding: 0px; line-height: 1em;
}
#footer .copyright li {
	padding-left: 1em; font-size: 0.8em; margin-left: 1em; border-left-color: rgb(212, 212, 212); border-left-width: 1px; border-left-style: solid; display: inline-block;
}
#footer .copyright li:first-child {
	padding-left: 0px; margin-left: 0px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
#footer .copyright li a {
	color: inherit;
}
