
<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147960369-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147960369-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Shantanu Ghosh's Homepage</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/academicons.min.css"/>

    <link rel="stylesheet" href="/assets/css/special.css">


    <meta name="viewport" content="width=device-width">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="wrapper">
      <header>
        <br />
        <div align="left">
            <span class="image avatar" >
    		  <img src="/assets/img/profile.jpg" ></img>
            </span>
        </div>
        <span><h1><b>Shantanu Ghosh</b></h1></span>
        <h4>Batman Lab</h4>
        <p>
            <a href="https://www.linkedin.com/in/i-am-shantanu-ghosh/"><font color="#222"><i class="fa fa-linkedin fa-2x"></i></font></a> &nbsp
            <a href="https://github.com/Shantanu48114860"><font color="#222"><i class="fa fa-github fa-2x"></i> </font></a> &nbsp
            <!--<a href="https://www.instagram.com/__tonylin/"><font color="#222"><i class="fa fa-instagram fa-2x"></i> </font></a> &nbsp-->
            <a href="https://scholar.google.com/citations?user=U_s5k_oAAAAJ&hl=en"><img src="/assets/img/google-scholar-logo.png" width="26px" height="26px"
              style="position:relative;top: -6px; left:2px"/></a> &nbsp
            <!-- <a href="https://scholar.google.com/citations?user=dVtzVVAAAAAJ&hl=en"><font color="#222"><i class="ai ai-google-scholar ai-3x"></i></font></a> &nbsp &nbsp -->
        </p>
        <span style="position:relative;top: -6px; left:2px"/>
            <a href="/assets/Shantanu_CV_PhD.pdf"><font size="4em" color="#222"><b>[CV]</b></font></a>
        </span>

        <h4>Contact:</h4>
        <p>
            <p class="view"><a href="mailto:shg121@pitt.edu">shg121@pitt.edu</a></p>
        </p>


      </header>



      <section class="outer">
      		<!-- About Me -->
      		<section  id="about">
	    	    <h2>About Me</h2>
	    		<p>I am an incoming Ph.D. student in Intelligent Systems at the University of Pittsburgh, advised by Prof.
	    <a
              href="https://kayhan.dbmi.pitt.edu/"
              style="white-space: nowrap;"
            >
              Kayhan Batmanghelich</a
            >. Prior to that, I received my M.S. degree in Computer Science from the University of Florida, USA, advised by Prof.
	    <a
              href="https://epidemiology.phhp.ufl.edu/profile/prosperi-mattia/"
              style="white-space: nowrap;"
            >
              Mattia Prosperi</a
            >. I also worked closely with Prof.
	    <a
              href="https://www.cise.ufl.edu/~butler/"
              style="white-space: nowrap;"
            >
              Kevin Butler</a
            > as a Graduate Research Assistant in Florida Institute of Cybersecurity (FICS) Research. Before that, I received my B.Tech degree from Institute of Engineering and
          Management, Kolkata under the affiliation of West Bengal University of Technology, India.</p>

          <p>Along with this, I have 6+ years of experience in the IT/Software Service/Product industry as a Full Stack developer across Lexmark International India Pvt Ltd
            and Cognizant Technology Solutions India Pvt Ltd,
            involved in BIG/Medium scale Development/Enhancement projects.</p>

	                <p>My research interests lie in Computer Vision, Deep Learning, Causal Inference and their medical applications focusing on basic to advanced
                    architectures of supervised and unsupervised deep neural networks to improve their generalization, and interpretability.
                    <!-- Here's my
                    <span/>
                      <a href="/assets/Shantanu_CV_PhD.pdf"><font size="4em" color="#0055AA"><b>resume</b></font></a>
                  </span> for details. -->
                </p>
			</section>

      <!-- News -->

			<!-- Education -->
			<section  id="education">
	            <h2>Education</h2>
	            <div class="media">
                    <table width="100%" align="center" border="0">
                        <span class="pull-left"><img src="/assets/img/pitt.jpg" width="45px" height="45px"/></span>
                        <div class="media-body">
                            <div><span style="font-weight: bold">University of Pittsburgh</span>, USA </div>
                            <div>Ph.D. in Intelligent Systems, Aug 2021 - Now </div>
                        </div>
                    </table>
                    <br/>
                    <table width="100%" align="center" border="0">
    	                <span class="pull-left"><img src="/assets/img/UF.gif" width="45px" height="45"/></span>
    	                <div class="media-body">
    	                    <div><span style="font-weight: bold">Univesity of Florida</span>, USA </div>
    	                    <div>M.S. in Computer Science, Aug 2019 - May 2021</div>
    	                </div>
                    </table>
                    <br/>
                    <table width="100%" align="center" border="0">
    	                <span class="pull-left"><img src="/assets/img/IEM.jpeg" width="45px" height="45"/></span>
    	                <div class="media-body">
    	                    <div><span style="font-weight: bold">Institute of Engineering and Management</span>, India </div>
    	                    <div>B.Tech in Computer Science and Engineering, Aug 2008 - June 2012</div>
    	                </div>
                    </table>
	            </div>
        	</section>

            <!-- Research -->
            <section  id="research">
	            <h2>Selected Publications</h2>
                <p><i>* indicates equal contribution</i></p>

                <!-- PSSAM-GAN -->
                <section class="pub">
                    <table width="100%" align="center" border="0">
                        <tr>
                            <td width="20%" valign="top">
                                <img src="/assets/img/PSSAM-GAN.png" width="90%" alt=""/>
                            </td>
                            <td width="80%" align="center">
                                <div class="title">Propensity Score Synthetic Augmentation Matching using Generative Adversarial Networks (PSSAM-GAN)</div>
                                <div class="authors">
                                  <span class="me">Shantanu Ghosh</span>,
                                  <span class="author">Christina Boucher</span>,
                                  <span class="author">Jiang Bian</span>
                                  <span class="author">Mattia Prosperi</span>
                                </div>
                                <div>
                                    <span class="tag"><b>Computer Methods and Programs in Biomedicine Update</b></span> /
                                    <span class="tag">Accpted (In Press)</span> /
				                            <span class="tag"><a href="https://github.com/Shantanu48114860/PSSAM-GAN">Code</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </section>

                <!-- ICMHI -->
                <section class="pub">
                    <table width="100%" align="center" border="0">
                        <tr>
                            <td width="20%" valign="top">
                            </td>
                            <td width="80%" align="center">
                                <div class="title">Causal AI with Real World Data: Do Statins Protect From Alzheimer’s Disease Onset?</div>
                                <div class="authors">
                                  <span class="author">Mattia Prosperi</span>,
                                  <span class="me">Shantanu Ghosh</span>,
                                  <span class="author">Zhaoyi Chen</span>,
                        				  <span class="author">Marco Salemi</span>,
                        				  <span class="author">Tianchen Lyu</span>,
                                  <span class="author">Jiang Bian</span>
                                </div>
                                <div>
                                    <span class="tag"><a href="https://healthmanagement.org/c/hospital/event/icmhi-2021-5th-international-conference-on-medical-and-health-informatics"><b>
                                      ICMHI 2021</b></a></span> /
                                    <span class="tag"><a href="">Accpted (In Press)</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </section>

                <!-- DPN-SA -->
                <section class="pub">
                    <table width="100%" align="center" border="0">
                        <tr>
                            <td width="20%" valign="top">
                                <img src="/assets/img/Autoencoder.jpeg" width="90%" alt="">
                            </td>
                            <td width="80%" align="center">
                                <div class="title">Deep propensity network using a sparse autoencoder for estimation of treatment effects</div>
                                <div class="authors">
                                  <span class="me">Shantanu Ghosh</span>,
                                  <span class="author">Jiang Bian </span>,
                                  <span class="author">Yi Guo</span>,
                                  <span class="author">Mattia Prosperi</span>
                                </div>
                                <div>
                                    <span class="tag"><b>Journal of the American Medical Informatics Association</b></span> /
                                    <span class="tag"><a href="https://academic.oup.com/jamia/article-abstract/28/6/1197/6139936">Paper</a></span>/
                                    <span class="tag"><a href="https://github.com/Shantanu48114860/DPN-SA">Code</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </section>




            <!-- Work -->
            <section  id="work">
	            <h2>Profesional Experience</h2>
	            <ul>
                    <li><strong>Batman Lab, University of Pittsburgh</strong>, May 2021 - Aug 2021
                        <br> Advisor: <a href="https://kayhan.dbmi.pitt.edu/">Dr. Kayhan Batmanghelich</a>
                         <br> Research Systems Analyst
                    </li>
                    <li><strong>Florida Institute of Cybersecurity Research (FICS), University of Florida</strong>, Jan 2021 - May 2021
                        <br> Advisor: <a href="https://www.cise.ufl.edu/~butler/">Dr. Kevin Butler</a>
                         <br> Graduate Research Assistant
                    </li>
                    <li><strong>Data Intelligence Systems Lab (DISL), University of Florida</strong>, Feb 2020 - Dec 2020
                        <br> Advisor: <a href="https://epidemiology.phhp.ufl.edu/research/disl/">Dr. Mattia Prosperi</a>
                         <br> Research Assistant
                    </li>
                    <li><strong>Multimedia Communications and Networking Laboratory (MCN), University of Florida</strong>, Feb 2020 - Dec 2020
                        <br> Advisor: <a href="http://www.wu.ece.ufl.edu/">Dr. Dapeng (Oliver) Wu</a>
                         <br> Independent Researcher
                    </li>
                    <li><strong>Lexmark International India Pvt Ltd</strong>,Oct 2016 - July 2019
                         <br> Software Engineering Professional II
                    </li>

	                <li><strong>Cognizant Technology Solutions India Pvt Ltd</strong>, March 2013 – September 2019
	                    <br> Associate, Projects </br>
                    </li>
	            </ul>
        	</section>

            <!-- Academic Service -->
            <!-- <section  id="work">
                <h2>Academic Service</h2>
                <ul>
                    <li>Invited reviewer for <b>MICCAI</b></li>
                    <!-- <li><strong>Invited Reviewer for ICML, NeurIPS, ICCV, IJCAI, ACMMM</strong></li> -->
                <!-- </ul>
            </section> -->


    		<!-- Honors -->
            <section id="Honors">
                <h2>Honors and Awards</h2>
        		<!-- <h4>Academic</h4>
                    <ul>
                        <li><strong>Invited presentation at <a href="http://tdam-bjkl.bjtu.edu.cn/mla2017.html">MLA 2017</a></strong> &nbsp 2017
                        <li><strong>Invited presentation at <a href="http://bigeye.au.tsinghua.edu.cn/sidas2017/index.html">IEEE SIDAS 2017</a></strong> &nbsp 2017
                    </ul> -->
                <!-- <h4>Honors</h4> -->
                    <ul>
                        <li><strong>Achievement Award of 4500 USD</strong>, University of Florida, USA, 2019-2020 </li>
                        <li><strong> Star Employee</strong>, Cognizant Technology Solutions, India, 2013, 2015 </li>
                        <li><strong> National Scholarship</strong>, Central Government Human Resource Development Department of Higher Education, India, 2008 </li>

                    </ul>
                <!-- <h4>Challenges</h4>
                    <!-- <ul>
                        <!-- <li><strong>1<sup>st</sup> Prize of 17<sup>th</sup> Electronic Design Contest</strong> (1/400), Tsinghua University  &bull; 2016 </li> -->
                        <!-- <li><strong>2<sup>nd</sup> Place in MICCAI Multimodal Brain Tumor Segmentation Challenge (BraTS), survival prediction task</strong> &bull; 2018 </li>
                    </ul> -->
            </section>

		<!--
            <section id="Skills">
                <h2>Skills</h2>
                <ul>
                <br><i class="fa fa-code fa-2x fa-fw"></i> &nbsp Python &nbsp C/C++ &nbsp MATLAB &nbsp Java &nbsp Android <br />
                <br><i class="fa fa-wrench fa-2x fa-fw"></i> &nbsp LaTeX &nbsp Caffe &nbsp TensorFlow &nbsp PyTorch <br />
                <br><i class="fa fa-language fa-2x fa-fw"></i> &nbsp Mandarin Chinese (native) &nbsp English (proficiet)
                </ul>
            </section>
        -->

            <!-- Life -->
            <!-- <section id="Life">
        	<h2>Life :)</h2>
                I have a life other than writing codes. Here is a partial catalog of what I'm trying today. -->
                <!--
                Here is a partial catalog of my attempts at becoming more than what I am today. I doubt I will ever succeed totally but I hope I will never stop trying.
                -->
               <!--  <p></p>
                <h4>Photography</h4>
                <p>
                	I've been long interested in photography for more than two years. Since I bought my first camera in Spring 2015, I've learnt so much in Photography Team of Tsinghua Student Art Troupe. I catch the sparkling moments and beauties in my life with my camera as very precious memories. I do not post too much of my work on the Internet, but you can still find some in the following sites: <br />
	                    <a href="https://www.instagram.com/__tonylin/">[Instagram]</a> &nbsp
	                    <a href="https://500px.com/to_tonylin"> [500PX] </a> &nbsp
	                    <a href="https://tuchong.com/519520/"> [TuChong] </a> &nbsp
            	</p> -->

                <!-- <h4>Piano</h4>
                <p> I've always wanted to pick up some kind of musical instruments. It may not be the proper age to be proficient in piano, but I'll keep trying. </p>

                <h4>Tennis</h4>
                <p> Tennis is my recent favorite sport (still not proficient though). Reach me if you are interested too! </p> -->
			<!-- </section> -->

        	<!--
          	<h2>Who searched for me!</h2>
            <div id="clustrmaps-widget">
    		  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=oQ1KwKMwMu6IYuA5fNffQwoGDCui7FZHrx3Dd2G8VDM&cl=ffffff&w=a"></script>
            </div>
        	-->

        	<!-- Footer -->

        </section>

        <section id="footer">
			<div class="container">
				<ul class="copyright">
					<li>&copy;  Shantanu, 2021</li>
				</ul>
			</div>
		</section>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
